* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html {
    font-size: 15px;
    color: #555;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', sans-serif;
}

a {
    color: white;
}

ul {
    list-style: none;
}

h3.title {
    color: #131633;
    text-transform: capitalize;
    font-size: 32px;
    margin-bottom: 35px;
    text-align: center;
}

hr {
    width: 150px;
    height: 2px;
    background-color: #2196f3;
    border: 0;
    margin: 40px auto;
}


/* --------------
ABOUT
-----------------*/

#about {
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
}

#two-cols {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#profile-image {
    max-width: 450px;
    max-height: 550px;
    border-radius: 50px;
}

.about-bio {
    width: 50%;
    max-width: 450px;
    max-height: 550px;
    line-height: 1.5;
    margin-left: 30px;
}

.bio-format {
    font-size: 18px;
    margin-bottom: 40px;
}

.bio-format a {
    color: coral;
}

@media(max-width:900px) {
    #about,
    #two-cols {
        flex-direction: column;
    }
    .about-bio {
        margin-top: 20px;
        line-height: 1.25;
        text-align: center;
        width: 90%;
        margin-left: 0px;
        margin-bottom: 20px;
    }
}


/*----------
PROJECTS
------------*/

#projects p {
    max-width: 800px;
    text-align: center;
    margin: 0 auto 35px;
    padding: 0 20px;
    line-height: 2;
}

#projects .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.medium {
    height: 350px;
    width: 600px;
    padding: 0px;
    border-radius: 80px;
    flex-basis: 50%;
}

.img__wrap {
    height: 350px;
    width: 600px;
    padding: 0px;
    margin: 10px;
    border-radius: 80px;
    border: 0px solid black;
    position: relative;
}

.img__description_layer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 80px;
    background: rgba(112, 112, 112, 0.5);
    color: rgb(255, 255, 255);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
    visibility: visible;
    opacity: 1;
}

.img__description {
    font-family: helvetica, arial, sans-serif;
    font-size: 10pt;
    transition: .2s;
    transform: translateY(1em);
}

.img__description a.btn {
    color: rgb(255, 255, 255);
    background-color: #000000;
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 0.7;
}

.img__description a.btn:hover {
    background-color: #2196f3;
}

.img__wrap:hover .img__description {
    transform: translateY(0);
}

@media(max-width: 800px) {
    #projects .medium {
        flex-basis: 100%;
    }
    .img__description a.btn {
        padding: 15px 40px;
    }
}


/*----------
HEADER
------------*/

#hero {
    background: gray;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/heading.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 200px;
    padding-bottom: 200px;
    min-height: 100vh;
}

#hero h1,
#hero h3 {
    font-size: 28px;
    text-shadow: 2px 2px #000;
    margin-bottom: 40px;
}

#hero h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

#hero a.btn {
    color: white;
    background-color: #131633;
    text-decoration: none;
    padding: 20px 46px;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    opacity: 0.7;
    border: 2px solid white;
}

#hero a.btn:hover {
    background-color: #2196f3;
}

@media(max-width:800px) {
    #hero {
        min-height: 600px;
    }
    #hero h1 {
        font-size: 36px;
    }
    #hero h3 {
        font-size: 18px;
    }
    #hero a.btn {
        padding: 15px 40px;
    }
}


/*----------
COURSES
------------*/

#courses {
    padding: 20px;
    background-color: #f7f7f7;
    margin-bottom: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#courses p {
    max-width: 800px;
    text-align: center;
    padding: 0 20px;
    line-height: 2;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 12pt;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


/* -----------
FOOTER
--------------*/

footer {
    background-color: #131622;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #284e7a, #000 100%);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, .6);
    margin-bottom: 10px;
}

footer ul {
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
}

footer ul li {
    margin: 0 8px;
}

footer ul li a {
    font-size: 36px;
    cursor: pointer;
}

@media(max-width:800px) {
    footer {
        padding: 80px 15px;
    }
}